
.flag{
    height: 600px;
    width: 900px;
    background-color: #ce1126;
  }
  p{
    text-align: center;
  }
  div.flag>p{
    color: white;
    font-size: 70px;
    
  }
  div.flag>div{
    background-color: #002868;
    height: 50%;
    position: relative;
    top: 5%;
  }
  div.flag>div>div{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    background-color: white;
    position: absolute;
    left: 350px;
    top: 50px;
  }
  div>div>p
  {
    font-size: 60px
  }
  @media (max-width: 850px){
    .flag{
      height: 300px;
      width: 450px;
      background-color: #ce1126;
    }
    p{
      text-align: center;
    }
    div.flag>p{
      color: white;
      font-size: 35px;
      
    }
    div.flag>div{
      background-color: #002868;
      height: 50%;
      position: relative;
      top: 5%;
    }
    div.flag>div>div{
      border-radius: 100%;
      height: 100px;
      width: 100px;
      background-color: white;
      position: absolute;
      left: 175px;
      top: 25px;
    }
    div>div>p
    {
      font-size: 30px
    }
  }
  @media (max-width: 450px){
    .flag{
      height: 150px;
      width: 225px;
      background-color: #ce1126;
    }
    p{
      text-align: center;
    }
    div.flag>p{
      color: white;
      font-size: 17.5px;
      
    }
    div.flag>div{
      background-color: #002868;
      height: 50%;
      position: relative;
      top: 5%;
    }
    div.flag>div>div{
      border-radius: 100%;
      height: 50px;
      width: 50px;
      background-color: white;
      position: absolute;
      left: 175px;
      top: 25px;
    }
    div>div>p
    {
      font-size: 15px
    }
  }