header{
    background-color: lightcyan;
}
body
{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(255, 235, 240);
    color: rgb(62, 62, 62);
}
footer
{
    background-color: lightcyan;
}